In [2]:
import pandas as pd
import numpy as np
import h2o

from h2o.automl import H2OAutoML

In [3]:
pc = pd.read_csv('../Proyecto_Kaggle/data/pc.csv')

In [3]:
pc.head()

,Manufacturer,Category,Screen Size,CPU,RAM,GPU,Weight,Price,Storage_size1,Storage_type1,Storage_size2,Storage_type2
0,5,4,13.3,6,8,0,1.37,11912523.48,128000,4,0,0
1,5,4,13.3,5,8,3,1.34,7993374.48,128000,2,0,0
2,2,3,15.6,6,8,3,1.86,5112900.00,256000,4,0,0
3,5,4,15.4,8,16,4,1.83,22563005.40,512000,4,0,0
4,5,4,13.3,7,8,4,1.37,16037611.20,256000,4,0,0

In [4]:
pc['Price'] = round(pc['Price'], 0)

In [5]:
pc.head()

,Manufacturer,Category,Screen Size,CPU,RAM,GPU,Weight,Price,Storage_size1,Storage_type1,Storage_size2,Storage_type2
0,5,4,13.3,6,8,0,1.37,11912523.0,128000,4,0,0
1,5,4,13.3,5,8,3,1.34,7993374.0,128000,2,0,0
2,2,3,15.6,6,8,3,1.86,5112900.0,256000,4,0,0
3,5,4,15.4,8,16,4,1.83,22563005.0,512000,4,0,0
4,5,4,13.3,7,8,4,1.37,16037611.0,256000,4,0,0

In [6]:
pc['Price'] = pc['Price'].astype(int)

In [7]:
pc.head()

,Manufacturer,Category,Screen Size,CPU,RAM,GPU,Weight,Price,Storage_size1,Storage_type1,Storage_size2,Storage_type2
0,5,4,13.3,6,8,0,1.37,11912523,128000,4,0,0
1,5,4,13.3,5,8,3,1.34,7993374,128000,2,0,0
2,2,3,15.6,6,8,3,1.86,5112900,256000,4,0,0
3,5,4,15.4,8,16,4,1.83,22563005,512000,4,0,0
4,5,4,13.3,7,8,4,1.37,16037611,256000,4,0,0

In [8]:
# pc['Price'] = pc['Price'] / 10000

In [9]:
# pc.head()

In [10]:
# pc['Price'] = round(pc['Price'], 0)

In [11]:
pc['Price'] = pc['Price'].astype(int)

In [12]:
pc.head()

,Manufacturer,Category,Screen Size,CPU,RAM,GPU,Weight,Price,Storage_size1,Storage_type1,Storage_size2,Storage_type2
0,5,4,13.3,6,8,0,1.37,11912523,128000,4,0,0
1,5,4,13.3,5,8,3,1.34,7993374,128000,2,0,0
2,2,3,15.6,6,8,3,1.86,5112900,256000,4,0,0
3,5,4,15.4,8,16,4,1.83,22563005,512000,4,0,0
4,5,4,13.3,7,8,4,1.37,16037611,256000,4,0,0

In [13]:
X_train = pc

In [17]:
X_train.head()

,Manufacturer,Category,Screen Size,CPU,RAM,GPU,Weight,Price,Storage_size1,Storage_type1,Storage_size2,Storage_type2
0,5,4,13.3,6,8,0,1.37,11912523,128000,4,0,0
1,5,4,13.3,5,8,3,1.34,7993374,128000,2,0,0
2,2,3,15.6,6,8,3,1.86,5112900,256000,4,0,0
3,5,4,15.4,8,16,4,1.83,22563005,512000,4,0,0
4,5,4,13.3,7,8,4,1.37,16037611,256000,4,0,0

In [14]:
X_test = pd.read_csv('./pc_test.csv')

In [15]:
X_test.head()

,Manufacturer,Category,Screen Size,CPU,RAM,GPU,Weight,Storage_size1,Storage_type1,Storage_size2,Storage_type2
0,2,3,15.6,7,6,3,2.04,1000000,1,0,0
1,2,6,17.3,8,16,4,2.99,256000,4,1000000,1
2,2,2,15.6,7,12,3,2.19,512000,4,0,0
3,2,3,13.3,6,4,3,1.20,128000,4,0,0
4,2,3,15.6,9,6,3,2.20,256000,4,0,0

In [18]:
h2o.init()

Checking whether there is an H2O instance running at http://localhost:54321..... not found.
Attempting to start a local H2O server...
; OpenJDK 64-Bit Server VM (build 19+36-2238, mixed mode, sharing)
  Starting server from C:\Users\lpgal\AppData\Local\Programs\Python\Python311\Lib\site-packages\h2o\backend\bin\h2o.jar
  Ice root: C:\Users\lpgal\AppData\Local\Temp\tmpv2d6uddm
  JVM stdout: C:\Users\lpgal\AppData\Local\Temp\tmpv2d6uddm\h2o_lpgal_started_from_python.out
  JVM stderr: C:\Users\lpgal\AppData\Local\Temp\tmpv2d6uddm\h2o_lpgal_started_from_python.err
  Server is running at http://127.0.0.1:54321
Connecting to H2O server at http://127.0.0.1:54321 ... successful.

--------------------------  -----------------------------
H2O_cluster_uptime:         02 secs
H2O_cluster_timezone:       Europe/Madrid
H2O_data_parsing_timezone:  UTC
H2O_cluster_version:        3.40.0.4
H2O_cluster_version_age:    1 month and 1 day
H2O_cluster_name:           H2O_from_python_lpgal_r7vgp4
H2O_cluster_total_nodes:    1
H2O_cluster_free_memory:    1.971 Gb
H2O_cluster_total_cores:    12
H2O_cluster_allowed_cores:  12
H2O_cluster_status:         locked, healthy
H2O_connection_url:         http://127.0.0.1:54321
H2O_connection_proxy:       {"http": null, "https": null}
H2O_internal_security:      False
Python_version:             3.11.1 final
--------------------------  -----------------------------

In [19]:
h2train=h2o.H2OFrame(X_train)
h2test=h2o.H2OFrame(X_test)

Parse progress: |████████████████████████████████████████████████████████████████| (done) 100%
Parse progress: |████████████████████████████████████████████████████████████████| (done) 100%

In [20]:
h2train.columns

['Manufacturer',
 'Category',
 'Screen Size',
 'CPU',
 'RAM',
 'GPU',
 'Weight',
 'Price',
 'Storage_size1',
 'Storage_type1',
 'Storage_size2',
 'Storage_type2']

In [21]:
X=[c for c in h2train.columns if c!='Price']

y='Price'

In [22]:
automl=H2OAutoML(max_models=10,
                 seed=42,   # random_state
                 max_runtime_secs=300,
                 sort_metric='RMSE')

In [23]:
automl.train(x=X,
             y=y,
             training_frame=h2train)

AutoML progress: |
15:23:55.35: AutoML: XGBoost is not available; skipping it.

███████████████████████████████████████████████████████████████| (done) 100%

Model Details
=============
H2OStackedEnsembleEstimator : Stacked Ensemble
Model Key: StackedEnsemble_AllModels_1_AutoML_1_20230529_152354


Model Summary for Stacked Ensemble:
key                                        value
-----------------------------------------  ----------------
Stacking strategy                          cross_validation
Number of base models (used / total)       6/10
# GBM base models (used / total)           5/6
# DRF base models (used / total)           1/2
# DeepLearning base models (used / total)  0/1
# GLM base models (used / total)           0/1
Metalearner algorithm                      GLM
Metalearner fold assignment scheme         Random
Metalearner nfolds                         5
Metalearner fold_column
Custom metalearner hyperparameters         None

ModelMetricsRegressionGLM: stackedensemble
** Reported on train data. **

MSE: 2036895599488.2666
RMSE: 1427198.514393939
MAE: 1019093.1092474451
RMSLE: 0.14617010383589935
Mean Residual Deviance: 2036895599488.2666
R^2: 0.9487320025486226
Null degrees of freedom: 976
Residual degrees of freedom: 970
Null deviance: 3.881655417860621e+16
Residual deviance: 1990047000700036.5
AIC: 30479.177589654897

ModelMetricsRegressionGLM: stackedensemble
** Reported on cross-validation data. **

MSE: 6838354970067.516
RMSE: 2615024.8507552496
MAE: 1650900.3303742125
RMSLE: 0.22067854848414775
Mean Residual Deviance: 6838354970067.516
R^2: 0.8278808372578765
Null degrees of freedom: 976
Residual degrees of freedom: 970
Null deviance: 3.893485573882748e+16
Residual deviance: 6681072805755963.0
AIC: 31662.44213977244

Cross-Validation Metrics Summary:
                        mean         sd           cv_1_valid    cv_2_valid    cv_3_valid    cv_4_valid    cv_5_valid
----------------------  -----------  -----------  ------------  ------------  ------------  ------------  ------------
mae                     1.65223e+06  178960       1.59284e+06   1.67613e+06   1.94964e+06   1.49625e+06   1.54627e+06
mean_residual_deviance  6.78569e+12  2.50823e+12  4.55854e+12   8.03208e+12   1.05313e+13   4.77109e+12   6.03544e+12
mse                     6.78569e+12  2.50823e+12  4.55854e+12   8.03208e+12   1.05313e+13   4.77109e+12   6.03544e+12
null_deviance           7.78697e+15  2.1108e+15   6.44231e+15   8.19412e+15   1.11998e+16   5.79526e+15   7.30339e+15
r2                      0.831412     0.0205462    0.861149      0.813055      0.811092      0.833189      0.838574
residual_deviance       1.32617e+15  4.9726e+14   8.93474e+14   1.52609e+15   2.09573e+15   9.44676e+14   1.17087e+15
rmse                    2.57107e+06  468082       2.13507e+06   2.83409e+06   3.2452e+06    2.18428e+06   2.45671e+06
rmsle                   0.221389     0.0118312    0.209736      0.234901      0.233117      0.217014      0.212176

[tips]
Use `model.explain()` to inspect the model.
--
Use `h2o.display.toggle_user_tips()` to switch on/off this section.

In [24]:
print('[INFO] Leader board:')

leader_board=automl.leaderboard

leader_board.head()

[INFO] Leader board:

model_id                                                        rmse          mse          mae     rmsle    mean_residual_deviance
-------------------------------------------------------  -----------  -----------  -----------  --------  ------------------------
StackedEnsemble_AllModels_1_AutoML_1_20230529_152354     2.61502e+06  6.83835e+12  1.6509e+06   0.220679               6.83835e+12
GBM_5_AutoML_1_20230529_152354                           2.62035e+06  6.86625e+12  1.64648e+06  0.222584               6.86625e+12
StackedEnsemble_BestOfFamily_1_AutoML_1_20230529_152354  2.62111e+06  6.8702e+12   1.64526e+06  0.220627               6.8702e+12
GBM_grid_1_AutoML_1_20230529_152354_model_1              2.65019e+06  7.02352e+12  1.69341e+06  0.227305               7.02352e+12
DRF_1_AutoML_1_20230529_152354                           2.73116e+06  7.45923e+12  1.72534e+06  0.228398               7.45923e+12
GBM_3_AutoML_1_20230529_152354                           2.73389e+06  7.47415e+12  1.71485e+06  0.22566                7.47415e+12
GBM_2_AutoML_1_20230529_152354                           2.75829e+06  7.60814e+12  1.72579e+06  0.226722               7.60814e+12
GBM_4_AutoML_1_20230529_152354                           2.79395e+06  7.80616e+12  1.7491e+06   0.225914               7.80616e+12
XRT_1_AutoML_1_20230529_152354                           2.85214e+06  8.13472e+12  1.81008e+06  0.23669                8.13472e+12
GBM_1_AutoML_1_20230529_152354                           3.4906e+06   1.21843e+13  2.24885e+06  0.287355               1.21843e+13
[10 rows x 6 columns]

In [25]:
y_pred=automl.leader.predict(h2test)

stackedensemble prediction progress: |███████████████████████████████████████████| (done) 100%

In [26]:
y_pred[:10]

    predict
-----------
5.57327e+06
1.33586e+07
9.77697e+06
9.60978e+06
6.30847e+06
5.47983e+06
7.0091e+06
5.35156e+06
6.30893e+06
1.23377e+07
[325 rows x 1 column]

In [4]:
muestra = pd.read_csv('../Proyecto_Kaggle/data/muestra.csv')

In [28]:
y_pred_list = h2o.as_list(y_pred)

In [29]:
muestra_final = pd.concat([muestra, y_pred_list], axis=1)

In [30]:
muestra_final.head()

   id     Price       predict
0   0   2759145  5.573268e+06
1   1  10926785  1.335859e+07
2   2  20212944  9.776973e+06
3   3  46541311  9.609783e+06
4   4  46335226  6.308471e+06

In [31]:
muestra_final.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 325 entries, 0 to 324
Data columns (total 3 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   id       325 non-null    int64
 1   Price    325 non-null    int64
 2   predict  325 non-null    float64
dtypes: float64(1), int64(2)
memory usage: 7.7 KB

In [32]:
pd.options.display.float_format = '{:.2f}'.format

In [33]:
muestra_final.head()

   id     Price     predict
0   0   2759145  5573268.30
1   1  10926785 13358592.40
2   2  20212944  9776973.34
3   3  46541311  9609782.69
4   4  46335226  6308471.36

In [34]:
muestra_final = muestra_final.drop('Price', axis=1)

In [37]:
muestra_final.head()

   id     predict
0   0  5573268.30
1   1 13358592.40
2   2  9776973.34
3   3  9609782.69
4   4  6308471.36

In [39]:
muestra_final = muestra_final.rename(columns={'predict': 'Price'})

In [40]:
muestra_final.head()

   id       Price
0   0  5573268.30
1   1 13358592.40
2   2  9776973.34
3   3  9609782.69
4   4  6308471.36

In [41]:
muestra_final.to_csv('../Ordenadores/Resultado/muestra.csv', index=False)